= link_to('New Interview', new_interview_path, :class => 'button tiny success') if @auth.present?
= link_to('Show All', root_path, :class => 'button tiny succcess') if @auth.present?

- if @auth.present?
  %h2 Interviews
  #form
  %table
    %tr
      %th Name
      %th Cost
      %th Threshold %
      %th # Passing
      %th # Fails
      %th Owner
      %th Analytics
      %th Tags
    - @interviews.each do |interview|
      %tr
        %td= link_to(interview.name, interview_path(interview))
        %td= link_to(interview.cost, cost_interviews_path(interview.cost), :remote => true)
        %td= interview.threshold
        %td Passing
        %td Fails
        %td= link_to(interview.user.name, filter_interviews_path(interview.user), :remote => true)
        %td= link_to('Analytics', analytics_interview_path(interview), :remote => true, :class => 'button tiny alert')
        %td
          = interview.tags.map(&:name).join(', ')



/ %td= interview.progress.num_right
/ %td
/ - interview.tags.each do |tag|
/   = link_to("#{tag.name} - #{tag.interviews.count}", filter_interviews_path(tag.id), :remote => true, :class => 'button tiny radius secondary')
