%script
  $(document).ready(show_chart);

.row.stats
  .large-4.columns

    = image_tag @auth.image
    %table
      %tbody
        %tr
          %td= @auth.name.titleize
          %td= @auth.address
          %td= @auth.email
          %td= @auth.phone
          %td= number_to_currency(@auth.balance)
    #map_canvas
      %script
        display_map(40.7316, -73.9901, 11);
        = "add_marker(#{@auth.lat}, #{@auth.lng}, '#{@auth.name}');"
  .large-8.columns
    / %h2 Informatics
.row.stats
  %table
    %thead
      %tr
        %th Interviews Taken
        %th Retake?
        %th Score
        %th # Right
        %th # Wrong
        %th Author
        %th Date
    %tbody
      - @auth.progresses.each do |progress|
        %tr
          %td= progress.interview.name
          %td= link_to('Retake', interview_path)
          %td= progress.percentage
          %td= progress.num_right
          %td= progress.num_wrong
          %td= progress.interview.user.name
          %td= progress.updated_at
  #chart
.row.stats
  %table
    %thead
      %tr
        %th My Interviews
        %th= link_to('Add Interview', new_interview_path, :class => 'test_btn')
    - @auth.interviews.each do |interview|
      %tr
        %td= link_to(interview.name, interview_path(interview))