<% if @question.answers.count > 4 && @question.answers.where(:is_correct => true).present? %>
  $('#quest_title').append('<li><%= @answer.response %> , <%= @answer.is_correct %> </li>').fadeIn("slow")
  $('#questions').empty()
  $('#add_answer').empty()
  $('#add_question').show()
<% else %>
$('#add_answer').empty().append('<%=link_to('Add Answer', new_answers_path(@question), :remote => true, :class => 'button tiny')  %>');
  $('#questions').empty()
 $('#add_question').hide()
  $('#quest_title').append('<li><%= @answer.response %> , <%= @answer.is_correct %> </li>')
<% end %>


<% if @interview.questions.count == 4 && @question.answers.count >4 && @question.answers.where(:is_correct => true).present? %>

   document.location.href = '/'
<% end %>



